@import "variables";

//Enjoy screen
.first-screen {
  position: relative;
  box-sizing: border-box;

  border-radius: 40px;
  overflow: hidden;


  video {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;

  }

  &__wrapper {
    position: relative;
    padding: 100px;
    max-width: 530px;
    z-index: 2;

    @media(max-width: 768px) {
      padding: 100px 60px;
    }

    @media(max-width: 505px) {
      padding: 60px 16px;
    }
  }

  &__h1 {
    color: $light-grey;
  }

  &__text {
    margin: 40px 0;
    color: $light-grey;
  }

  .button-primary {
    position: relative;
    width: 200px;
    padding: 20px 78px;

    background: $light-grey;

    &__text {
      color: $dark;

      transform: translateX(0);
      transition: transform 0.6s ease;

    }

    @media (hover: hover) {
      &:hover .button-primary__text {
        transform: translateX(-15px);
      }
    }

    &::after {
      position: absolute;
      content: '';

      bottom: 22px;
      right: 64px;

      width: 20px;
      height: 20px;
      background: url(../img/icon/coffee-cup.svg);

      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    @media (hover: hover) {
      &:hover::after {
        opacity: 1;
      }
    }

    @media(max-width:768px) {
      &__text {
        transform: translateX(-15px);
      }

      &::after {
        opacity: 1;
      }

    }

    @media(max-width:505px) {}
  }
}